@import url('https://fonts.googleapis.com/css?family=Nunito')
@import "node_modules/bulma/bulma.sass"

$blue: #2ac3e8

.button.is-info
	background-color: $blue

.button.is-info:hover
	background-color: darken($blue, 10)

.is-purple
    background: $purple

.is-green
    background: $green

.is-turquoise
    background: $turquoise

.is-grey
    background: $grey

.label
	font-weight: normal

.field
	margin-bottom: 20px

.input,
.textarea,
.select
	font-size: 14px

.input:focus,
.input.is-focused,
.textarea:focus,
.textarea.is-focused,
.select:focus,
.select.is-focused
    border-color: $blue

.menu-list
    a.is-active,
    a:hover
        background-color: $blue
        color: $white

html
	background: #E2E2E2

body
	font-size: 16px
	text-align: justify
	font-family: "Nunito", sans-serif

p
	margin-bottom: 10px

a
    color: $blue

.container
	background: #fff
	padding: 20px
	box-shadow: 0 1px 2px rgba(10, 10, 10, 0.1)

	.terms
		h4
			margin-top: 40px

header
	h4
		margin: 10px 40px

	img
		max-height: 80px
		display: block
		margin: 0 auto

.progress:not(:last-child)
	margin-bottom: 40px

footer
	margin: 40px 0
