language: php

sudo: false

cache:
  directories:
      - node_modules
      - vendor
      - $HOME/.composer/cache

php:
  - '7.0'
  - '7.1'

before_install: if [[ `npm -v` != 3* ]]; then npm i -g npm@3; fi

before_script:
  - mysql -e 'create database protecms_test'
  - npm install
  - composer self-update
  - composer install --no-interaction
  - cp .env.travis .env
  - php artisan key:generate
  - php artisan protecms:seeddevdata

script:
  - gulp
  - vendor/bin/phpunit

branches:
  only:
    - master
    - develop
    - feature/travisci